<body>
    <header>
      <div class="hero-text-box">
        <h1>
          Goodbye boring life. <br/>
          Hello super fun modules.
        </h1>
        <a class="btn btn-full js--scroll-to-plans" href="/accounts/sign_up">I wanna learn!</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#features">Show me more</a>
      </div>
    </header>

    <section class="section-features js--section-features" id="features">
      <div class="row">
        <h2 class="headertext">Get learning fast!</h2>
        <p class="long-copy">
          Hello, we're COM2025 University, your new state of the art online university! Here, you will be able
          to enrol in all sorts of online optional modules whilst carrying on with your current major degree. Enrol
          in some modules and have fun whilst learning at the same time, we promise!
        </p>
      </div>
      <div class="row">
        <div class="col span-1-of-4 box">
        <i class="ion-happy-outline icon-big"></i>
          <h3>Make Friends</h3>
          <p>
            Join lots of other people doing these optional modules and
            make new friends! What better way to make good friends when
            you can find other people that like the same things as you!
          </p>
        </div>
        <div class="col span-1-of-4 box">
          <i class="ion-ios-stopwatch-outline icon-big"></i>
          <h3>Just 30 minutes a day</h3>
          <p>
            You only need to commit 30 minutes a day to properly take part
            in these super fun optional modules. We work with the best teachers
            to ensure your learning is as efficient as possible!
          </p>
        </div>
        <div class="col span-1-of-4 box">
          <i class="ion-planet icon-big"></i>
          <h3>Anywhere anytime</h3>
          <p>
            Complete our optional modules whenever and wherever in the world. Even if
            you start in London you can complete it in a different country if
            you want! Whatever works best for you!
          </p>
        </div>
        <div class="col span-1-of-4 box">
          <i class="ion-trophy icon-big"></i>
          <h3>certificates</h3>
          <p>
            Don't worry! You'll get a certificate upon completion of each optional 
            module, so you can always write it down in your CV with the proof to back
            it up. Let's grow the collection!
          </p>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="resources/js/script.js"></script>
  </body>