/* ------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------ */
@import "ionicons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------ */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

section {
  padding: 80px 0;
}

/* -------- HEADINGS -------- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.headertext {
  width: 100%;
}

.register {
  padding-top: 75px;
}

.modules {
  padding-top: 50px;
  margin-left: 45%;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #22aee6;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* -------- PARAGRAPHS -------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* -------- ICONS -------- */

.icon-big {
  font-size: 350%;
  display: block;
  color: #22aee6;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #22aee6;
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* -------- LINKS -------- */

a:link,
a:visited {
  color: #22aee6;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #22aee6;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

/* -------- BUTTONS -------- */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #22aee6;
  border: 1px solid #22aee6;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #22aee6;
  color: #22aee6;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #006efd;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
  border: 1px solid #006efd;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #006efd;
  color: #fff;
}
/* ------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------ */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    asset-data-url("coding.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 75px;
  width: auto;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
}

/* Main Navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 25px;
  margin-right: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0px;
  color: rgb(150, 149, 149);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #22aee6;
}

.alert {
  padding-top: 75px;
  background-color: transparent;
}

/* ------------------------------------------------ */
/* OPTIONAL MODULES*/
/* ------------------------------------------------ */

.module {
  width: 100%;
}

.card {
  background-color: #f4f4f4;
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
}

/* ------------------------------------------------ */
/* FORMS */
/* ------------------------------------------------ */

.contact-form {
  width: 30%;
  margin: 0 auto;
}

input[type="submit"] {
  margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

*:focus {
  outline: none;
}

/* ------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------ */

footer {
  background-color: #333;
  padding: 40px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
}

/* ------------------------------------------------ */
/* ANIMATIONS */
/* ------------------------------------------------ */

.js--wp-1 {
  opacity: 0;
}

.js--wp-1.animate_fadeIn {
  opacity: 1;
}
