<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title"><%= @optional_module.name %></h4>
    <p class="card-text"><%= @optional_module.description %></p>
    <a href="#" class="btn btn-primary">Enrol</a>
  </div>
</div>

<%= link_to 'Edit', edit_optional_module_path(@optional_module) %> |
<%= link_to 'Back', optional_modules_path %>